/* &display=swap */
@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic");

[class*="__container"] {
	margin: 0px auto;
	max-width: 1060px;
}
body{
font-size: 16px;
font-family:"Lato";
font-weight: 400;
}

.wrapper {
	min-height:100%;
	overflow: hidden;

}
.odigo {
    background:linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%), url("../img/header/Image.png")center/cover no-repeat;
	min-height: 962px;
	padding: 60px 190px 150px 190px;
}

.odigo__menu_margin{
	margin: 0px 0px 176px 0px;
}
.odigo__menu {
font-size: 18px;
line-height:1.3;
color: #FFFFFF;
	
}
.logo{
margin: 0px 40% 0px 0px;
}
.odigo__list li {
	padding: 0px 0px 0px 30px;
}
.odigo__item-list {
	display: inline-block;
	
}
.odigo__link {
}
.odigo__discover {
color: #FFFFFF;
}
.odigo__title {
font-weight: 500;
font-size: 50px;
line-height: 1.2;
max-width: 700px;
margin: 0px 0px 22px 0px;


}
.odigo__text {
font-size: 16px;
line-height:1.2;
max-width: 520px;
margin: 0px 0px 60px 0px;
}

.odigo__question,.odigo__what,.button-link{
	display: inline-block;
}

.odigo__what {
	padding: 0px 0px 0px 30px;
	font-weight: 500;
   font-size: 18px;
   line-height: 1.2;
}

.odigo__what_ico{
background: url("../img/icon/Oval.svg")0 0 /20px no-repeat;
min-height: 20px;
padding: 0px 0px 0px 30px;
}

.odigo__what::after{
content: "";
background: url("../img/icon/Line.svg")0 0 no-repeat;
width:270px;
height: 4px;
display: block;
margin: 20px 20px 0px -30px;

}

.button-link{
	margin: 0px 0px 0px 40px;
}

.button {
	background: #1B7DFF;
	padding:20px 40px;
	display: inline-block;
	font-weight: 500;
    font-size: 24px;
   line-height: 1.2;
   text-transform: uppercase;
}

.button:hover {
	background: #1b7eff4d;
	margin: 2px 0px 0px 0px;
	box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.504);
}
.benefits {
font-weight: 500;
color: #102746;
padding: 90px 90px 140px 90px;
}
.benefits_margin {
	max-width: 1264px;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
	position: relative;
	top: -190px;
}

.benefits__title {
font-size: 35px;
line-height:1.2;
}
.benefits__title_margin{
	margin: 0px 0px 120px 0px;
}
.column {
	display: inline-block;
}
.column__row {
	max-width: 30%;
	display: inline-block;

	color: #000000;
	margin: 0px 30px 0px 0px;

}
.column__row:hover{
background: rgba(169, 169, 169, 0.103);

}
.column__row_welcome::before{
content: "";
background: url("../img/icon/01.svg") no-repeat;	
width: 66px;
height: 66px;
display: inline-block;
margin: 0px 0px 37px 0px;

}

.column__row_man::before{
content: "";
background: url("../img/icon/02.svg") no-repeat;	
width: 66px;
height: 66px;
display: inline-block;	
margin: 0px 0px 37px 0px;
}

.column__row_home::before{
content: "";
background: url("../img/icon/03.svg") no-repeat;	
width: 66px;
height: 66px;
display: inline-block;	
margin: 0px 0px 37px 0px;
}
.column__title {
font-size: 18px;
line-height:1.3;
}
.column__title_margin{
	margin: 0px 0px 26px 0px;
}
.column__text_margin{
	margin: 0px 0px 40px 0px;
}
.column__text {
font-size: 16px;
line-height:1.5;
}
.column__link {

font-size: 16px;
line-height:1.5;
color: #006DFE;
text-transform: uppercase;
}

.column__link::after{
content: "";
background: url("../img/icon/Shape.svg")right no-repeat;
display: inline-block;
width: 33px;
height: 8px;
margin: 0px 0px 2px 10px;
}
.column__link:hover{
color: darkgray;
text-shadow:1px 1px 1px #000000;
}

.get-inspired {
	max-width: 1264px;
	margin: 0 auto;
}

.inspired-header,.inspired__title,.button-item-link {
	display: inline-block;
}


.inspired-header{
	display: block;
}
.button-items,.inspired__title {
	display: inline-block;
}


.button-items_right{
margin: 0px 0px 0px 85%;
}

.inspired__title{
font-weight: 500;
font-size: 35px;
line-height: 1.2;
color: #102746;
}


.inspired__title::after{
content: "";
background: url("../img/icon/Line-2.svg")0 0 no-repeat;
width:253px;
height: 3px;
display: block;
margin: 10px 0px 0px 0px;
}

.button-item-link{
font-size: 16px;
line-height:1.5;
color: #006DFE;
display: inline-block;
}

.button-item-link:hover{
color: brown;
}
.button-item-link::after{
content: "";
background:url("../img/icon/Shape.svg")0 0 no-repeat;
display: inline-block;
width: 33px;
height:8px;
margin: 0px 0px 0px 30px;
}
.get-inspired__content-image,.get-inspired__image{
	display: inline-block;
	
}
.get-inspired__image_img{
	width: 415px;
}
.get-inspired__image {
	max-width: 619px;
}
.get-inspired__image-text {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 50px;
    line-height:1.2;
	position: relative;
	top: -120px;
	left: 60px;
}
.get-inspired__link:hover{
	background: #83737399;
	color: #742797;
}


.prefecture {
	
}

.prefecture__box {
	max-width: 1260px;
	margin:0 auto;
}
.prefecture__row  {
	display: inline-block;
	
}
.prefecture__list{
	
}
.prefecture__item-list {
}
.prefecture__tottori {
}
.title_top{
	position: relative;
	top: -310px;
	left: 80%;
}

.prefecture__text_top{
	position: relative;
	top: -250px;
	left: 120%;
}
.title_bottom{
	position: relative;
	bottom: -90px;
	
}

.prefecture__text_bottom{
	position: relative;
	bottom: -170px;
}
.prefecture__image_bottom{
	position: relative;
	position: relative;
	top: -60px;
	left: 110%;
}
.title {
font-weight: 500;
font-size: 30px;
line-height:1.3;
color: #102746;
text-align: right;


}
.prefecture__text {
font-size: 16px;
line-height:1.5;
color: #102746;
max-width: 500px;
}
.prefecture__link{
font-size: 16px;
line-height:1.5;
text-align: right;
color: #006DFE;
display: inline-block;

}

.prefecture__link::after{
display: inline-block;
content: "";
background: url("../img/icon/Shape.svg")0 0 no-repeat;
width: 33px;
height: 8px;
margin: 0px 0px 0px 20px;
}
.prefecture__button{
	position: relative;
	top: -120px;
	left: 120%;
}
.prefecture__button-view{
	position: relative;
	bottom: -240px;
}

.today-top {
	max-width: 1260px;
margin: 0 auto;
}
.today-box {
	
}
.inspired-header {
}
.inspired__title {
}
.today__row {
width: 31.333%;
display: inline-block;
}
.today__row:not(:last-child) {
margin: 0px 0px 20px 10px;
}
.title-today{
	margin: 0px 0px 50px 0px;
}

.today__card {

}

.today__imag {
}
.today__nagoya {
	position: relative;
	top:-50px;
	background: #000000;
	background: rgba(21, 24, 36, 0.6);
	color: #FFFFFF;
	text-transform: uppercase;
	width: 97%;
	height: 55px;
	text-align: center;

}
.today__link{
	display: inline-block;
	position: relative;
	right: 80px;
	top: 10px;
}
.today__links{
	display: inline-block;
	position: relative;
	left: 80px;
	top: 10px;
	margin: 0px 0px 0px 20px;
}

.today__text {
font-size: 16px;
line-height:1.5;
color: #102746;
margin: 0px 0px 20px 0px;
}
.today__button {
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
background: #006DFE;
display: inline-block;
padding: 10px 20px 10px 20px;

}

.image-bottom {
	max-width:1260;
	margin:0 auto;
}
.image-bottom__img {
	width: 100%;
}
.footer {
	max-width:1260;
	margin:0 auto;
	background: #0E1D28;
	color: #FFFFFF;
	padding: 50px;
}
.footer__logo {
	position: relative;
	left: 20%;
	top: 50px;
}
.footer__list {
	display: inline-block;
	margin: 0px 0px 0px 40px;
	position: relative;
	left: 60%;
}
.footer__list-item {
	font-size: 16px;
line-height:1.5;

}